@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.checkoutdiv{
    background-color: white;
    width: 80%;
    margin: auto;
    height: 55rem;
    padding: 10px;
}

.heading{
    font: 2rem 'Roboto',serif;
    color: #58595b;
    margin: 0;
    padding: 0;
    text-align: left;
    display: block;
    clear: both;
    padding: 7px 0 10px;
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
}

.checkoutTable{
    display: flex;
    flex-direction: column;
    padding: 16px 0 25px;
    text-align: left;
}

.categoryHeading{
    display: flex;
    background: #dfdfdf;
    margin: 0;
    padding: 5px 1px;
}

.categoryHeading a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #444;
    padding-left: 7px;
}

.categoryHeading span{
    font-family: sans-serif;
    font-size: .8rem;
    font-weight: 400;
    color: #888;
    margin-left: 10px;
    display: inline-flex;
    align-items: flex-end;
}

.tableHeading{
    background-color: #555;
    color: white;
    height: 2.5rem;
    display: grid;
    grid-template-columns: .6fr 7fr 2fr 2.5fr 2fr 1fr 2fr;
    width: 100%;
    align-items: center;
    padding: 10px;
}

.listItemDiv{
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 2fr 2fr;
    width: 100%;
    align-items: center;
}

.quantitydiv{
        border: 1px solid #e0e0e0;
        height: 20px;
        float: right;
        display: flex;
        margin-right: 5rem;
}

.quantitydiv button{
    width: 16px;
    height: 20px;
    color: #989898;
    /* float: left; */
    border: 0;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.quantitydiv input{
    /* float: left; */
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-bottom: 0;
    width: 24px;
    height: 21px;
    background: #fff;
    color: #000;
    text-align: center;
}